{% extends "base.twig" %}
{% block main %}
<section>
    <h2>The world of Jurassic Park</h2>

    {% for dino in dinos %}
        <a href="/dinosaur/{{ dino.slug }}">
            <figure>
               
                    <h2>{{ dino.title }}</h2>
                    <img src={{ dino.avatar }} alt={{ dino.title }}/>
                    <figcaption>Discover the {{ dino.name }}</figcaption>
                
            </figure>
        </a>
    {% endfor %}

</section>
{% endblock %}